lib/modbus/H_MULTICAL603_WAVE_TCP_V1.json
[
  {
    "id": "b78b5e33da9c34cf",
    "type": "group",
    "z": "b123dc057626602b",
    "name": "H_SUPERCAL603_WAVE_TCP_V1 Meetpunt",
    "style": {
      "label": true,
      "fill": "#5caa7e",
      "color": "#ffffff"
    },
    "nodes": [
      "a542d1a62b91130c",
      "02c9c928f39578a5",
      "b7028fe214635aa4",
      "944faee149b95668",
      "6777be761d01c39e",
      "6e448987ff77a895",
      "7c78a10cfd0b2026",
      "adfa916abc9b30cc",
      "e1dfda9b928465b8"
    ],
    "x": 74,
    "y": 1959,
    "w": 1352,
    "h": 182
  },
  {
    "id": "a542d1a62b91130c",
    "type": "modbus-getter",
    "z": "b123dc057626602b",
    "g": "b78b5e33da9c34cf",
    "name": "Read",
    "showStatusActivities": true,
    "showErrors": true,
    "showWarnings": true,
    "logIOActivities": false,
    "unitid": "74",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "56",
    "server": "5cb0a4a05fd9f4f7",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": true,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 350,
    "y": 2100,
    "wires": [
      [
        "6e448987ff77a895"
      ],
      []
    ]
  },
  {
    "id": "02c9c928f39578a5",
    "type": "function",
    "z": "b123dc057626602b",
    "g": "b78b5e33da9c34cf",
    "name": "Parse SUPERCAL603",
    "func": "// MULTICAL 603 parser voor default datagram xx-yy-300\n// Verwacht:\n// - Modbus read startadres: 0\n// - Quantity: 56\n// - FC: eerst 3 testen, indien geen goede data -> 4 testen\n//\n// Mapping volgens Kamstrup default datagram:\n// reg 1  = Flow V1 actual\n// reg 3  = Flow V2 actual\n// reg 7  = t1 actual\n// reg 9  = t2 actual\n// reg 11 = t3 actual\n// reg 13 = t4 actual\n// reg 21 = Heat energy E1\n// reg 23 = Heat energy E2\n// reg 53 = Volume V1\n// reg 55 = Volume V2\n\nconst INVALID_FLOAT_HEX = 0x4F800000;\n\nconst buffer = new ArrayBuffer(4);\nconst intView = new Uint32Array(buffer);\nconst floatView = new Float32Array(buffer);\n\n// NORMALE LEESVOLGORDE\n// Gebruik deze eerst\nfunction regsToFloat(indexHigh, indexLow) {\n    const combined = ((msg.payload[indexHigh] << 16) | msg.payload[indexLow]) >>> 0;\n\n    // Invalid value volgens Kamstrup\n    if (combined === INVALID_FLOAT_HEX) {\n        return null;\n    }\n\n    intView[0] = combined;\n    return Number(floatView[0].toFixed(3));\n}\n\n/*\n// ALTERNATIEVE LEESVOLGORDE (WORD SWAP)\n// Haal deze uit commentaar en zet de functie hierboven in commentaar\n// als je rare waarden krijgt zoals:\n// - gigantische getallen\n// - negatieve temperaturen die niet kunnen\n// - 0.000 terwijl display duidelijke waarde toont\nfunction regsToFloat(indexHigh, indexLow) {\n    const combined = ((msg.payload[indexLow] << 16) | msg.payload[indexHigh]) >>> 0;\n\n    if (combined === INVALID_FLOAT_HEX) {\n        return null;\n    }\n\n    intView[0] = combined;\n    return Number(floatView[0].toFixed(3));\n}\n*/\n\nif (!Array.isArray(msg.payload)) {\n    node.error(\"msg.payload is geen array\", msg);\n    return null;\n}\n\nif (msg.payload.length < 56) {\n    node.error(\"Payload te klein voor MULTICAL 603 parser\", msg);\n    return null;\n}\n\nlet data = {};\n\n// Flows\ndata[\"flow_v1_actual\"] = regsToFloat(0, 1);    // reg 1-2\ndata[\"flow_v2_actual\"] = regsToFloat(2, 3);    // reg 3-4\n\n// Temperaturen\ndata[\"temperature_t1\"] = regsToFloat(6, 7);    // reg 7-8\ndata[\"temperature_t2\"] = regsToFloat(8, 9);    // reg 9-10\ndata[\"temperature_t3\"] = regsToFloat(10, 11);  // reg 11-12\ndata[\"temperature_t4\"] = regsToFloat(12, 13);  // reg 13-14\n\n// Energie\ndata[\"heat_e1\"] = regsToFloat(20, 21);         // reg 21-22\ndata[\"heat_e2\"] = regsToFloat(22, 23);         // reg 23-24\n\n// Volumes\ndata[\"volume_v1\"] = regsToFloat(52, 53);       // reg 53-54\ndata[\"volume_v2\"] = regsToFloat(54, 55);       // reg 55-56\n\n// Optioneel: null-waarden verwijderen\nfor (const key of Object.keys(data)) {\n    if (data[key] === null) {\n        delete data[key];\n    }\n}\n\nmsg.payload = data;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 2100,
    "wires": [
      [
        "b7028fe214635aa4"
      ]
    ]
  },
  {
    "id": "b7028fe214635aa4",
    "type": "json",
    "z": "b123dc057626602b",
    "g": "b78b5e33da9c34cf",
    "name": "Conv",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 870,
    "y": 2100,
    "wires": [
      [
        "944faee149b95668"
      ]
    ]
  },
  {
    "id": "944faee149b95668",
    "type": "function",
    "z": "b123dc057626602b",
    "g": "b78b5e33da9c34cf",
    "name": "E_630ML1_WAVE_TCP_V1",
    "func": "// Haal de globale MID variabele op\nlet mid = global.get(\"mid\") || 0;\n\n// Stel de constante Dev in\nconst Dev = \"ASSET\";\n\n// Mapping naar interne datatype-ID's\nconst idMapping = {\n    flow_v1_actual: 9660, //ok\n    flow_v2_actual: 9661, // ok\n\n    temperature_t1: 9701, // ok\n    temperature_t2: 9702, // ok\n    temperature_t3: 9703, // ok \n    temperature_t4: 9704, // ok\n\n    heat_e1: 9600, // ok\n    heat_e2: 9603, // ok \n\n    volume_v1: 9650, //ok\n    volume_v2: 9651 // ok\n};\n\n// Maak mapping case-insensitive\nconst normalizedIdMapping = Object.create(null);\nfor (const [k, v] of Object.entries(idMapping)) {\n    normalizedIdMapping[k.toLowerCase()] = v;\n}\n\n// Begin resultaat-object\nlet result = {\n    MID: mid,\n    D: [\n        {\n            Dev: Dev,\n            ED: [],\n            MD: []\n        }\n    ]\n};\n\n// Altijd timestamp zetten\nresult.D[0].TS = new Date().toISOString();\n\n// Payload van parser\nlet payloadData = msg.payload;\n\nif (!payloadData || typeof payloadData !== \"object\" || Array.isArray(payloadData)) {\n    node.warn(\"msg.payload is geen geldig object voor de MULTICAL decoder\");\n    return null;\n}\n\nfor (const [key, raw] of Object.entries(payloadData)) {\n    const normalizedKey = key.toLowerCase();\n    const id = normalizedIdMapping[normalizedKey];\n    if (id === undefined) continue;\n\n    if (raw === null || typeof raw === \"object\") {\n        node.warn(`Overslaan ${key}: waarde is geen primitief (${typeof raw})`);\n        continue;\n    }\n\n    const val = Number(raw);\n    if (!Number.isFinite(val)) {\n        node.warn(`Ongeldige numerieke waarde voor ${key}: \"${raw}\"`);\n        continue;\n    }\n\n    result.D[0].MD.push({\n        Id: id,\n        Val: val\n    });\n}\n\n// Alleen MID verhogen als er data is\nif (result.D[0].MD.length > 0) {\n    global.set(\"mid\", mid + 1);\n} else {\n    node.warn(\"Geen geldige meetwaarden gevonden in decoder\");\n}\n\nmsg.payload = result;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1060,
    "y": 2100,
    "wires": [
      [
        "e1dfda9b928465b8",
        "adfa916abc9b30cc"
      ]
    ]
  },
  {
    "id": "6777be761d01c39e",
    "type": "inject",
    "z": "b123dc057626602b",
    "g": "b78b5e33da9c34cf",
    "name": "15min trigger",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "900",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 200,
    "y": 2100,
    "wires": [
      [
        "a542d1a62b91130c"
      ]
    ]
  },
  {
    "id": "6e448987ff77a895",
    "type": "function",
    "z": "b123dc057626602b",
    "g": "b78b5e33da9c34cf",
    "name": "catch error",
    "func": "if (msg.error) {\n  msg.failReason = msg.error;\n  return [null, msg];\n}\n\nif (!Array.isArray(msg.payload)) {\n  msg.failReason = `payload_not_array (${typeof msg.payload})`;\n  return [null, msg];\n}\n\nif (msg.payload.length !== 56) {\n  msg.failReason = `bad_length (${msg.payload.length})`;\n  return [null, msg];\n}\n\nif (msg.payload.every(v => v === 0)) {\n  msg.failReason = \"all_zero_payload\";\n  return [null, msg];\n}\n\nreturn [msg, null];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 490,
    "y": 2100,
    "wires": [
      [
        "02c9c928f39578a5"
      ],
      [
        "7c78a10cfd0b2026"
      ]
    ]
  },
  {
    "id": "7c78a10cfd0b2026",
    "type": "function",
    "z": "b123dc057626602b",
    "g": "b78b5e33da9c34cf",
    "name": "error handling",
    "func": "// ===== Modbus FAIL -> ED event wrapper =====\n\n// 1) MID\nlet mid = global.get(\"mid\") || 0;\n\n// 2) Device\n// Vul je echte asset-id in of haal uit msg (als je die meegeeft op fail-pad)\nconst Dev =  \"ASSET\";\n\n// 3) Event Id voor \"modbus failure\" (kies zelf een vrije ID)\nconst MODBUS_FAIL_EVENT_ID = 7199;\n\n// 4) Reason bepalen (prioriteit: msg.failReason -> msg.error -> algemene fallback)\nlet reason = msg.failReason || msg.error || \"MODBUS_FAIL\";\n\n// 5) Bouw extra context (unitId, queue length, topic, messageId)\nconst unitId = msg.unitId ?? msg.queueUnitId ?? (msg.queueLengthByUnitId?.unitId);\nconst qLen =\n  msg.queueLengthByUnitId?.queueLength ??\n  msg.queueLength ??\n  undefined;\n\nlet details = [];\nif (unitId !== undefined) details.push(`unitId=${unitId}`);\nif (qLen !== undefined) details.push(`queueLen=${qLen}`);\nif (msg.topic) details.push(`topic=${msg.topic}`);\nif (msg.messageId) details.push(`messageId=${msg.messageId}`);\n\nlet val = String(reason);\nif (details.length) val += ` | ${details.join(\", \")}`;\n\n// 6) Wrapper result\nconst result = {\n  MID: mid,\n  D: [\n    {\n      Dev: Dev,\n      TS: new Date().toISOString(),\n      ED: [\n        {\n          Id: MODBUS_FAIL_EVENT_ID,\n          Val: val,   // <-- reden als tekst\n          Sev: 2\n        }\n      ],\n      MD: []\n    }\n  ]\n};\n\n// 7) MID ophogen (ik doe dit altijd voor fail-events)\nglobal.set(\"mid\", mid + 1);\n\n// 8) Output\nmsg.payload = result;\nmsg.topic = \"telemetry\"; // als je dit verwacht downstream (optioneel)\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1020,
    "y": 2060,
    "wires": [
      [
        "e1dfda9b928465b8",
        "adfa916abc9b30cc"
      ]
    ]
  },
  {
    "id": "adfa916abc9b30cc",
    "type": "link out",
    "z": "b123dc057626602b",
    "g": "b78b5e33da9c34cf",
    "name": "LINK2IOTHUB",
    "mode": "link",
    "links": [
      "6a1d392204f3b8e8",
      "072cebf7d186f536",
      "83826d90da70765c",
      "0f1bda8ab4ad5d88"
    ],
    "x": 1385,
    "y": 2000,
    "wires": []
  },
  {
    "id": "e1dfda9b928465b8",
    "type": "function",
    "z": "b123dc057626602b",
    "g": "b78b5e33da9c34cf",
    "name": "go2Next || retry",
    "func": "const DELAY_MS = 7500;\nconst MAX_RETRY = 6;\n\nconst Dev = \"ASSET\";          \nconst RETRY_WARN_EVENT_ID = 7198;          \n\nlet q = (msg.queque || \"\").toLowerCase();\nlet retry = global.get(\"retry\") || 0;\n\nfunction sendLater(out1, out2, out3) {\n  setTimeout(() => node.send([out1, out2, out3]), DELAY_MS);\n}\n\n// ---- FAIL ----\nif (q === \"fail\") {\n  retry += 1;\n  global.set(\"retry\", retry);\n\n  // retry < 5 => output 1 (\"go\")\n  if (retry < MAX_RETRY) {\n    const m1 = {\n      ...msg,\n      action: \"go\",\n      retry\n    };\n    sendLater(m1, null, null);\n    return;\n  }\n\n  // retry >= 5 => na 5 sec: reset + output 2 (\"stop/failover\")\n  global.set(\"retry\", 0);\n\n  const m2 = {\n    ...msg,\n    action: \"stop\",\n    retry: MAX_RETRY\n  };\n\n  sendLater(null, m2, null);\n  return;\n}\n\n// ---- SUCCESS ----\nif (q === \"success\") {\n  const retriesUsed = retry; \n\n  // Case A: success met <=1 retry => gewoon output 2 na 5 sec, reset\n  if (retriesUsed <= 1) {\n    global.set(\"retry\", 0);\n\n    const m2 = {\n      ...msg,\n      action: \"ok\",\n      retry: 0\n    };\n\n    sendLater(null, m2, null);\n    return;\n  }\n\n  // Case B: success maar met >1 retries => output 2 én output 3, reset\n  global.set(\"retry\", 0);\n\n  // Output 2: control/success message\n  const m2 = {\n    ...msg,\n    action: \"ok_but_retried\",\n    info: `success but retried ${retriesUsed} times`,\n    retriesUsed,\n    retry: 0\n  };\n\n  // Output 3: ED event payload (severity 2)\n  const mid = global.get(\"mid\") || 0;\n  global.set(\"mid\", mid + 1);\n\n  const m3 = {\n    topic: \"telemetry\",\n    queque: \"event\",\n    payload: {\n      MID: mid,\n      D: [\n        {\n          Dev,\n          TS: new Date().toISOString(),\n          ED: [\n            {\n              Id: RETRY_WARN_EVENT_ID,\n              Val: `success but retried ${retriesUsed} times`,\n              Sev: 2\n            }\n          ],\n          MD: []\n        }\n      ]\n    }\n  };\n\n  sendLater(null, m2, m3);\n  return;\n}\n\nconst m2 = {\n  ...msg,\n  action: \"unknown_queque\",\n  retry\n};\nsendLater(null, m2, null);\nreturn;\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1260,
    "y": 2060,
    "wires": [
      [
        "a542d1a62b91130c"
      ],
      [],
      [
        "adfa916abc9b30cc"
      ]
    ]
  },
  {
    "id": "5cb0a4a05fd9f4f7",
    "type": "modbus-client",
    "name": "waveshare",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "192.168.31.40",
    "tcpPort": "502",
    "tcpType": "TCP-RTU-BUFFERED",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "2000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showLogs": true
  }
]