lib/modbus/H_MULTICAL603_WAVE_TCP_V1.json
[{"id":"0e67b3c18ed011d0","type":"group","z":"28fc522996330822","name":"H_SUPERCAL603_WAVE_TCP_V1 HEAT","style":{"label":true,"fill":"#5caa7e","color":"#ffffff"},"nodes":["4de3cbadd6fbe6a4","397da41378615876","03404bfc4733aa30","b8055a8ee92a7052","403682369ab0bda8","92112f3b3d0d3d43","5b8b3159019849d3","e7992883e97bffe7","e6803f9c755653d4","4e208881aa7c5920","99a472543fa05057","5d696348d95d1915","a965da232e16a5e4","32fe35a7ba54b704","b0d061942b4a2794","e2ba7c1ec1dc7344","3f45d751ff0ce9e2","e04dc1a9fd675072","8254fbef600cfe29","859540b4bcbbb1ee","77a267c96743eb17"],"x":34,"y":359,"w":1372,"h":302},{"id":"4de3cbadd6fbe6a4","type":"modbus-getter","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"Read","showStatusActivities":true,"showErrors":true,"showWarnings":true,"logIOActivities":false,"unitid":"74","dataType":"InputRegister","adr":"0","quantity":"56","server":"5cb0a4a05fd9f4f7","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":330,"y":540,"wires":[["e6803f9c755653d4","e2ba7c1ec1dc7344"],[]]},{"id":"397da41378615876","type":"function","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"Parse SUPERCAL603","func":"// MULTICAL 603 parser voor default datagram xx-yy-300\n// Verwacht:\n// - Modbus read startadres: 0\n// - Quantity: 56\n// - FC: eerst 3 testen, indien geen goede data -> 4 testen\n//\n// Mapping volgens Kamstrup default datagram:\n// reg 1  = Flow V1 actual\n// reg 3  = Flow V2 actual\n// reg 7  = t1 actual\n// reg 9  = t2 actual\n// reg 11 = t3 actual\n// reg 13 = t4 actual\n// reg 21 = Heat energy E1\n// reg 23 = Heat energy E2\n// reg 53 = Volume V1\n// reg 55 = Volume V2\n\nconst INVALID_FLOAT_HEX = 0x4F800000;\n\nconst buffer = new ArrayBuffer(4);\nconst intView = new Uint32Array(buffer);\nconst floatView = new Float32Array(buffer);\n\n// NORMALE LEESVOLGORDE\n// Gebruik deze eerst\nfunction regsToFloat(indexHigh, indexLow) {\n    const combined = ((msg.payload[indexHigh] << 16) | msg.payload[indexLow]) >>> 0;\n\n    // Invalid value volgens Kamstrup\n    if (combined === INVALID_FLOAT_HEX) {\n        return null;\n    }\n\n    intView[0] = combined;\n    return Number(floatView[0].toFixed(3));\n}\n\n/*\n// ALTERNATIEVE LEESVOLGORDE (WORD SWAP)\n// Haal deze uit commentaar en zet de functie hierboven in commentaar\n// als je rare waarden krijgt zoals:\n// - gigantische getallen\n// - negatieve temperaturen die niet kunnen\n// - 0.000 terwijl display duidelijke waarde toont\nfunction regsToFloat(indexHigh, indexLow) {\n    const combined = ((msg.payload[indexLow] << 16) | msg.payload[indexHigh]) >>> 0;\n\n    if (combined === INVALID_FLOAT_HEX) {\n        return null;\n    }\n\n    intView[0] = combined;\n    return Number(floatView[0].toFixed(3));\n}\n*/\n\nif (!Array.isArray(msg.payload)) {\n    node.error(\"msg.payload is geen array\", msg);\n    return null;\n}\n\nif (msg.payload.length < 56) {\n    node.error(\"Payload te klein voor MULTICAL 603 parser\", msg);\n    return null;\n}\n\nlet data = {};\n\n// Flows\ndata[\"flow_v1_actual\"] = regsToFloat(0, 1);    // reg 1-2\ndata[\"flow_v2_actual\"] = regsToFloat(2, 3);    // reg 3-4\n\n// Temperaturen\ndata[\"temperature_t1\"] = regsToFloat(6, 7);    // reg 7-8\ndata[\"temperature_t2\"] = regsToFloat(8, 9);    // reg 9-10\ndata[\"temperature_t3\"] = regsToFloat(10, 11);  // reg 11-12\ndata[\"temperature_t4\"] = regsToFloat(12, 13);  // reg 13-14\n\n// Energie\ndata[\"heat_e1\"] = regsToFloat(20, 21);         // reg 21-22\ndata[\"heat_e2\"] = regsToFloat(22, 23);         // reg 23-24\n\n// Volumes\ndata[\"volume_v1\"] = regsToFloat(52, 53);       // reg 53-54\ndata[\"volume_v2\"] = regsToFloat(54, 55);       // reg 55-56\n\n// Optioneel: null-waarden verwijderen\nfor (const key of Object.keys(data)) {\n    if (data[key] === null) {\n        delete data[key];\n    }\n}\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":540,"wires":[["03404bfc4733aa30","8254fbef600cfe29"]]},{"id":"03404bfc4733aa30","type":"json","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"Conv","property":"payload","action":"obj","pretty":false,"x":850,"y":540,"wires":[["b8055a8ee92a7052"]]},{"id":"b8055a8ee92a7052","type":"function","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"E_630ML1_WAVE_TCP_V1","func":"// Haal de globale MID variabele op\nlet mid = global.get(\"mid\") || 0;\n\n// Stel de constante Dev in\nconst Dev = \"360002032026090447\";\n\n// Mapping naar interne datatype-ID's\nconst idMapping = {\n    flow_v1_actual: 9660, //ok\n    flow_v2_actual: 9661, // ok\n\n    temperature_t1: 9701, // ok\n    temperature_t2: 9702, // ok\n    temperature_t3: 9703, // ok \n    temperature_t4: 9704, // ok\n\n    heat_e1: 9600, // ok\n    heat_e2: 9603, // ok \n\n    volume_v1: 9650, //ok\n    volume_v2: 9651 // ok\n};\n\n// Maak mapping case-insensitive\nconst normalizedIdMapping = Object.create(null);\nfor (const [k, v] of Object.entries(idMapping)) {\n    normalizedIdMapping[k.toLowerCase()] = v;\n}\n\n// Begin resultaat-object\nlet result = {\n    MID: mid,\n    D: [\n        {\n            Dev: Dev,\n            ED: [],\n            MD: []\n        }\n    ]\n};\n\n// Altijd timestamp zetten\nresult.D[0].TS = new Date().toISOString();\n\n// Payload van parser\nlet payloadData = msg.payload;\n\nif (!payloadData || typeof payloadData !== \"object\" || Array.isArray(payloadData)) {\n    node.warn(\"msg.payload is geen geldig object voor de MULTICAL decoder\");\n    return null;\n}\n\nfor (const [key, raw] of Object.entries(payloadData)) {\n    const normalizedKey = key.toLowerCase();\n    const id = normalizedIdMapping[normalizedKey];\n    if (id === undefined) continue;\n\n    if (raw === null || typeof raw === \"object\") {\n        node.warn(`Overslaan ${key}: waarde is geen primitief (${typeof raw})`);\n        continue;\n    }\n\n    const val = Number(raw);\n    if (!Number.isFinite(val)) {\n        node.warn(`Ongeldige numerieke waarde voor ${key}: \"${raw}\"`);\n        continue;\n    }\n\n    result.D[0].MD.push({\n        Id: id,\n        Val: val\n    });\n}\n\n// Alleen MID verhogen als er data is\nif (result.D[0].MD.length > 0) {\n    global.set(\"mid\", mid + 1);\n} else {\n    node.warn(\"Geen geldige meetwaarden gevonden in decoder\");\n}\n\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":540,"wires":[["b0d061942b4a2794","32fe35a7ba54b704","e04dc1a9fd675072"]]},{"id":"403682369ab0bda8","type":"inject","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"15min trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":160,"y":560,"wires":[["4de3cbadd6fbe6a4"]]},{"id":"92112f3b3d0d3d43","type":"comment","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"Stel trigger offset in","info":"inject once after (modbus_address) seconds, then","x":170,"y":500,"wires":[]},{"id":"5b8b3159019849d3","type":"comment","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"Set modbus address","info":"Unit-Id is modbus adderes, \nik begin altijd bij 11, je kan dit vaak\nzelf instellen\n\n\nvoor quantity 56\nwant we lezen van 1 tem 55, maar \nwss begin je al op 0 (modbus zaken)\n\n\nik heb voor nu FC4 gepakt, read input\nregisters, mss is het FC3 read holding regsiters\n\n","x":370,"y":500,"wires":[]},{"id":"e7992883e97bffe7","type":"comment","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"Voer vlegel DEV in","info":"Het gaat hier over:\nconst Dev = \"IDNOGINVULLEN\";","x":1010,"y":460,"wires":[]},{"id":"e6803f9c755653d4","type":"function","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"catch error","func":"if (msg.error) {\n  msg.failReason = msg.error;\n  return [null, msg];\n}\n\nif (!Array.isArray(msg.payload)) {\n  msg.failReason = `payload_not_array (${typeof msg.payload})`;\n  return [null, msg];\n}\n\nif (msg.payload.length !== 56) {\n  msg.failReason = `bad_length (${msg.payload.length})`;\n  return [null, msg];\n}\n\nif (msg.payload.every(v => v === 0)) {\n  msg.failReason = \"all_zero_payload\";\n  return [null, msg];\n}\n\nreturn [msg, null];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":540,"wires":[["397da41378615876","859540b4bcbbb1ee"],["4e208881aa7c5920","77a267c96743eb17"]]},{"id":"4e208881aa7c5920","type":"function","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"error handling","func":"// ===== Modbus FAIL -> ED event wrapper =====\n\n// 1) MID\nlet mid = global.get(\"mid\") || 0;\n\n// 2) Device\n// Vul je echte asset-id in of haal uit msg (als je die meegeeft op fail-pad)\nconst Dev =  \"360002032026090447\";\n\n// 3) Event Id voor \"modbus failure\" (kies zelf een vrije ID)\nconst MODBUS_FAIL_EVENT_ID = 7199;\n\n// 4) Reason bepalen (prioriteit: msg.failReason -> msg.error -> algemene fallback)\nlet reason = msg.failReason || msg.error || \"MODBUS_FAIL\";\n\n// 5) Bouw extra context (unitId, queue length, topic, messageId)\nconst unitId = msg.unitId ?? msg.queueUnitId ?? (msg.queueLengthByUnitId?.unitId);\nconst qLen =\n  msg.queueLengthByUnitId?.queueLength ??\n  msg.queueLength ??\n  undefined;\n\nlet details = [];\nif (unitId !== undefined) details.push(`unitId=${unitId}`);\nif (qLen !== undefined) details.push(`queueLen=${qLen}`);\nif (msg.topic) details.push(`topic=${msg.topic}`);\nif (msg.messageId) details.push(`messageId=${msg.messageId}`);\n\nlet val = String(reason);\nif (details.length) val += ` | ${details.join(\", \")}`;\n\n// 6) Wrapper result\nconst result = {\n  MID: mid,\n  D: [\n    {\n      Dev: Dev,\n      TS: new Date().toISOString(),\n      ED: [\n        {\n          Id: MODBUS_FAIL_EVENT_ID,\n          Val: val,   // <-- reden als tekst\n          Sev: 2\n        }\n      ],\n      MD: []\n    }\n  ]\n};\n\n// 7) MID ophogen (ik doe dit altijd voor fail-events)\nglobal.set(\"mid\", mid + 1);\n\n// 8) Output\nmsg.payload = result;\nmsg.topic = \"telemetry\"; // als je dit verwacht downstream (optioneel)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":500,"wires":[["b0d061942b4a2794","32fe35a7ba54b704"]]},{"id":"99a472543fa05057","type":"comment","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"LEES DIT VOOR INFO OVER OUTPUTS/INPUTS","info":"VOOR MODBUS READ node\nverbind deze input met oftewel\nvorige \"go2Next || retry\" node of met \nallereerste trigger\n\nVOOR go2Next || retry\nverbind output 2 met de read node van \n de volgende modbus read en \n output 3 zou verbonden moeten zijn met link out iothub\n\nVOOR error handling && E_630ML4_WAVE_TCP_V1\ndeze zijn verbonden met de link out voor iothub\n(deze zouden allebei reeds verbonden\nmoeten zijn met input van retry node)\n ","x":670,"y":460,"wires":[]},{"id":"5d696348d95d1915","type":"comment","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"LINK2IOTHUB","info":"","x":1300,"y":400,"wires":[]},{"id":"a965da232e16a5e4","type":"comment","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"Voer vlegel DEV in","info":"Het gaat hier over:\nconst Dev = \"IDNOGINVULLEN\";","x":1250,"y":460,"wires":[]},{"id":"32fe35a7ba54b704","type":"link out","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"LINK2IOTHUB","mode":"link","links":["6a1d392204f3b8e8","072cebf7d186f536","83826d90da70765c","0f1bda8ab4ad5d88"],"x":1365,"y":440,"wires":[]},{"id":"b0d061942b4a2794","type":"function","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"go2Next || retry","func":"const DELAY_MS = 5000;\nconst MAX_RETRY = 6;\n\nconst Dev = \"360002032026090447\";          \nconst RETRY_WARN_EVENT_ID = 7198;          \n\nlet q = (msg.queque || \"\").toLowerCase();\nlet retry = global.get(\"retry\") || 0;\n\nfunction sendLater(out1, out2, out3) {\n  setTimeout(() => node.send([out1, out2, out3]), DELAY_MS);\n}\n\n// ---- FAIL ----\nif (q === \"fail\") {\n  retry += 1;\n  global.set(\"retry\", retry);\n\n  // retry < 5 => output 1 (\"go\")\n  if (retry < MAX_RETRY) {\n    const m1 = {\n      ...msg,\n      action: \"go\",\n      retry\n    };\n    sendLater(m1, null, null);\n    return;\n  }\n\n  // retry >= 5 => na 5 sec: reset + output 2 (\"stop/failover\")\n  global.set(\"retry\", 0);\n\n  const m2 = {\n    ...msg,\n    action: \"stop\",\n    retry: MAX_RETRY\n  };\n\n  sendLater(null, m2, null);\n  return;\n}\n\n// ---- SUCCESS ----\nif (q === \"success\") {\n  const retriesUsed = retry; \n\n  // Case A: success met <=1 retry => gewoon output 2 na 5 sec, reset\n  if (retriesUsed <= 1) {\n    global.set(\"retry\", 0);\n\n    const m2 = {\n      ...msg,\n      action: \"ok\",\n      retry: 0\n    };\n\n    sendLater(null, m2, null);\n    return;\n  }\n\n  // Case B: success maar met >1 retries => output 2 én output 3, reset\n  global.set(\"retry\", 0);\n\n  // Output 2: control/success message\n  const m2 = {\n    ...msg,\n    action: \"ok_but_retried\",\n    info: `success but retried ${retriesUsed} times`,\n    retriesUsed,\n    retry: 0\n  };\n\n  // Output 3: ED event payload (severity 2)\n  const mid = global.get(\"mid\") || 0;\n  global.set(\"mid\", mid + 1);\n\n  const m3 = {\n    topic: \"telemetry\",\n    queque: \"event\",\n    payload: {\n      MID: mid,\n      D: [\n        {\n          Dev,\n          TS: new Date().toISOString(),\n          ED: [\n            {\n              Id: RETRY_WARN_EVENT_ID,\n              Val: `success but retried ${retriesUsed} times`,\n              Sev: 2\n            }\n          ],\n          MD: []\n        }\n      ]\n    }\n  };\n\n  sendLater(null, m2, m3);\n  return;\n}\n\nconst m2 = {\n  ...msg,\n  action: \"unknown_queque\",\n  retry\n};\nsendLater(null, m2, null);\nreturn;\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":500,"wires":[["4de3cbadd6fbe6a4"],[],["32fe35a7ba54b704"]]},{"id":"e2ba7c1ec1dc7344","type":"debug","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"raw","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":420,"wires":[]},{"id":"3f45d751ff0ce9e2","type":"comment","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"PARSER","info":"// BELANGRIJK:\n// Als temperature_t1 niet overeenkomt met het display van de meter,\n// dan ligt het waarschijnlijk aan de word order.\n// In dat geval:\n// 1. Zet de actieve regsToFloat functie in commentaar\n// 2. Haal de alternatieve swapped regsToFloat functie uit commentaar\n// 3. Deploy opnieuw en test opnieuw","x":660,"y":500,"wires":[]},{"id":"e04dc1a9fd675072","type":"debug","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"decoded","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1240,"y":580,"wires":[]},{"id":"8254fbef600cfe29","type":"debug","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"parsed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":600,"wires":[]},{"id":"859540b4bcbbb1ee","type":"debug","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"output 1 ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":580,"wires":[]},{"id":"77a267c96743eb17","type":"debug","z":"28fc522996330822","g":"0e67b3c18ed011d0","name":"output2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":620,"wires":[]},{"id":"5cb0a4a05fd9f4f7","type":"modbus-client","name":"waveshare","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.31.40","tcpPort":"502","tcpType":"TCP-RTU-BUFFERED","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"5000","reconnectOnTimeout":true,"reconnectTimeout":"5000","parallelUnitIdsAllowed":true,"showWarnings":true,"showLogs":true}]