lib/lorawan/O_TEMP_EM300_LORA_V1.json
[
    {
        "id": "3c1c867759dbe682",
        "type": "function",
        "z": "28fc522996330822",
        "name": "O_TEMP_EM300_LORA_V1 - {meetpunt naam}",
        "func": "/// Haal de globale MID variabele op\nlet mid = global.get(\"mid\") || 0;\n\n// Stel de constante Dev in (start met 36)\nconst Dev = \"ASSET_ID_START_MET_36\";\n\n// Definieer de mapping van datatypes naar ID's\nconst idMapping = {\n   \"battery\": 4900,\n    \"humidity\": 6900,\n    \"temperature\": 6800,\n    \"bandwidth\": 5100,       // Uit msg.dr\n    \"spreadFactor\": 5200,    // Uit msg.dr\n    \"freq\": 5300,            // Uit msg (NIET msg.dr!)\n    \"snr\": 5400,             // Uit msg (NIET msg.dr!)\n    \"rssi\": 5500             // Uit msg (NIET msg.dr!)\n};\n\n// Lower case mapping\nconst normalizedIdMapping = Object.create(null); // avoids prototype issues\nfor (const [k, v] of Object.entries(idMapping)) {\n    normalizedIdMapping[k.toLowerCase()] = v;\n}\n\n// Begin met het resultaat-object\nlet result = {\n    MID: mid,\n    D: [\n        {\n            Dev: Dev,\n            ED: [],\n            MD: []\n        }\n    ]\n};\n\n// Timestamp van ontvangst\nif (msg.time) {\n    const date = new Date(msg.time);\n    if (!isNaN(date.getTime())) {\n        result.D[0].TS = date.toISOString();\n    }\n}\n\n// Haal alle key-value paren uit de payload\nlet payloadData = msg.object;\n\n// Voeg elk key-value paar toe als een object in het MD array, alleen als het in de mapping staat\nif (payloadData && typeof payloadData === \"object\") {\n    for (const [key, raw] of Object.entries(payloadData)) {\n        // process only keys that exist in idMapping\n        const normalizedKey = key.toLowerCase();\n        const id = normalizedIdMapping[normalizedKey];\n        if (id === undefined) continue;\n\n        // strict numeric parse\n        let val = Number(raw);\n        if (!Number.isFinite(val)) continue;\n\n        result.D[0].MD.push({\n            Id: id,\n            Val: val\n        });\n    }\n}\n\n// Haal bandwidth en spreadfactor uit msg.dr\nif (msg.dr && typeof msg.dr === \"object\") {\n    for (const key of [\"bandwidth\", \"spreadFactor\"]) {\n        // skip if key is not in msg.dr or not in idMapping\n        if (!Object.prototype.hasOwnProperty.call(msg.dr, key)) continue;\n        const normalizedKey = key.toLowerCase();\n        const id = normalizedIdMapping[normalizedKey];\n        if (id === undefined) continue;\n\n        // strict numeric parse\n        const val = Number(msg.dr[key]);\n        if (!Number.isFinite(val)) continue;\n\n        result.D[0].MD.push({\n            Id: id,\n            Val: val\n        });\n    }\n}\n\n// Haal freq, snr en rssi UIT msg zelf\nfor (const key of [\"freq\", \"snr\", \"rssi\"]) {\n    // skip if key not in msg or not mapped\n    if (!Object.prototype.hasOwnProperty.call(msg, key)) continue;\n    const normalizedKey = key.toLowerCase();\n    const id = normalizedIdMapping[normalizedKey];\n    if (id === undefined) continue;\n\n    const val = Number(msg[key]);\n    if (!Number.isFinite(val)) continue;\n\n    // strict numeric parse\n    result.D[0].MD.push({\n        Id: id,\n        Val: val\n    });\n}\n\n// Verhoog de MID en sla deze op in de globale context\nglobal.set(\"mid\", mid + 1);\n\n// Stel de nieuwe payload in\nmsg.payload = result;\n\n// Return messag\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "0742f7ef5b61ce9a",
        "type": "comment",
        "z": "28fc522996330822",
        "name": "Voer Vlegel ASSET ID in",
        "info": "Het gaat hier over:\nconst Dev = \"ASSET_ID_START_MET_36\";",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "2bedd6e9efb53ced",
        "type": "comment",
        "z": "28fc522996330822",
        "name": "Controleer pulse waarde omvorming ",
        "info": "Het gaat hier over:\nconst PulseConversionValue = 1;",
        "x": 660,
        "y": 580,
        "wires": []
    }
]