lib/lorawan/W_PNP_ADEU_LORA_V2.json
[
    {
        "id": "a54f8b28d04e5afc",
        "type": "group",
        "z": "7b1e1d9d8e395564",
        "name": "W_PNP_ADEU_LORA_V1 - {meetpunt naam}",
        "style": {
            "fill": "#5caa7e",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "f2e44bbc63ffbeca",
            "e6cb64a24c0ba430",
            "b92c6a81b601fc9d",
            "2b1683e77d09fca3"
        ],
        "x": 174,
        "y": 499,
        "w": 652,
        "h": 122
    },
    {
        "id": "f2e44bbc63ffbeca",
        "type": "adeunis-codecs",
        "z": "7b1e1d9d8e395564",
        "g": "a54f8b28d04e5afc",
        "name": "",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "b92c6a81b601fc9d"
            ]
        ]
    },
    {
        "id": "e6cb64a24c0ba430",
        "type": "function",
        "z": "7b1e1d9d8e395564",
        "g": "a54f8b28d04e5afc",
        "name": "Base64 to Hex",
        "func": "// Decode base64 naar hex\nconst base64 = msg.payload;\nconst buffer = Buffer.from(base64, 'base64');\nconst hex = buffer.toString('hex');\n\n// Stel productType in\nmsg.productType = \"pulse\";\n\n// Overschrijf payload met hex-string\nmsg.payload = hex;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 580,
        "wires": [
            [
                "f2e44bbc63ffbeca"
            ]
        ]
    },
    {
        "id": "b92c6a81b601fc9d",
        "type": "function",
        "z": "7b1e1d9d8e395564",
        "g": "a54f8b28d04e5afc",
        "name": "W_PNP_ADEU_LORA_V1",
        "func": "// Haal globale MID op\nlet mid = global.get(\"mid\") || 0;\n\n// Device ID handmatig of via msg.DevEUI\nconst Dev = \"ASSET_ID_START_MET_36\";\n\n// Mapping: kanaal → ID\nconst channelTypeMapping = {\n    A: 5000, // water\n    B: null, // niet gebruikt\n};\n\n// Extra ID-mapping\nconst statusIdMapping = {\n    batteryTextStatus: 7100 // LOW / GOOD\n};\n\n// Input ophalen\nconst input = msg.payload;\nconst result = {\n    MID: mid,\n    D: [\n        {\n            Dev: Dev,\n            TS: new Date(input.timestamp || Date.now()).toISOString(),\n            ED: [],\n            MD: []\n        }\n    ]\n};\n\n// Vul MD-array met counterValues\nif (\n    input &&\n    Array.isArray(input.counterValues) &&\n    input.counterValues.length === 2\n) {\n    [\"A\", \"B\"].forEach((channel, index) => {\n        const id = channelTypeMapping[channel];\n        const val = input.counterValues[index];\n\n        if (id === undefined || id === null) return;\n\n        if (typeof val === \"number\") {\n            let finalVal = parseFloat(val);\n\n            // water channel A: divide by 1000\n            if (channel === \"A\") {\n                finalVal = finalVal / 1000;\n            }\n\n            result.D[0].MD.push({\n                Id: id,\n                Val: finalVal\n            });\n        }\n    });\n} else {\n    node.warn(\"Geen geldige counterValues gevonden in msg.payload\");\n}\n\n// ✅ Voeg batterijstatus toe als event (ED)\nif (input?.status?.lowBattery !== undefined) {\n    const val = input.status.lowBattery ? \"LOW\" : \"GOOD\";\n    result.D[0].ED.push({\n        Id: statusIdMapping.batteryTextStatus, // = 7100\n        Val: val,\n        Sev: 2\n    });\n}\n\n\n// MID ophogen\nglobal.set(\"mid\", mid + 1);\n\n// Zet als payload\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "2b1683e77d09fca3",
        "type": "comment",
        "z": "7b1e1d9d8e395564",
        "g": "a54f8b28d04e5afc",
        "name": "Voer Vlegel ASSET ID in",
        "info": "Het gaat hier over:\nconst Dev = \"ASSET_ID_START_MET_36\";",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "2205f9a9dc9c1b0a",
        "type": "global-config",
        "env": [],
        "modules": {
            "@adeunis/node-red-contrib-adeunis-codecs": "1.4.2"
        }
    }
]